  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    text-align: center;
  }
  
  .main-header {
    padding-bottom: 15%;
    width: 100%;
    background-size: cover;
    background-image: url("../images/header.jpg");
    background-attachment: fixed;
  }
  
  /* ここから */
  header {
    height: 50px;
    background-color: #2B2B2B;
  }
  
  header ul { 
    margin: 0;
    padding: 15px;
  }
  
  header ul a {
    color: white;
    text-decoration: none;
  }
  
  header li {
    list-style: none;
  }

  .left{
    float: left;
    padding-left: 20px;
  }

  .right{
    float: left;
    padding-right: 20px;
  }

  .right_menu{
    float: right;
  }
  
  /* ここまでがheader部分の実装 */
  
  .main-header img {
    width: 13%;
    position: relative;
    top: 100px;
  }
  /* main画像（白い「Achieve」の文字の画像）部分の実装 */

  .about h1 {
    font-size:1.5rem;
  }

  .about p {
    font-size:0.8rem;
  }
  /* About Achieve部分の実装 */
  
  /* ここから */
  .function {
    background-color: #d3d3d3;
    padding-top: 15px;
    height:300px;
  }

  .function h1 {
    font-size:1.5rem;
  }
  
  .function-images {
    display: table;
    margin: 0 auto;
  }
  
  .function-image {
    display: table-cell;
    width: 150px;
  }

  .function-image img {
    width: 50%;
  }

  .function-images p {
    font-size:0.8rem;
  }

  /* ここまでがfunction部分の実装 */
  
  .footer {
    height: 70px;
    background-color: #283a4b;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: table;
  }

  .footer p {
    font-size: 0.8rem;
    color: white;
    vertical-align: middle;
    display: table-cell;
  }
  /* footer部分の実装 */